/* ================= FOOTER ================= */

.footer{
  color: white;
  font-size: 14px;
}

/* TOP IMAGE */
.footer-top{
  height: 301px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: -1px;
}

/* BOTTOM IMAGE */
.footer-bottom{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 0 0 0px; */
}

/* GRID */
.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  align-items: flex-start;
}

/* HEADINGS */
.footer h4{
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

/* LISTS */
.footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li{
  margin-bottom: 8px;
  opacity: 0.95;
}

/* BRAND */
.footer-brand{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.footer-brand img{
  height: 48px;
}

.footer-brand span{
  font-size: 20px;
  font-weight: 600;
}

/* COPYRIGHT */
.footer-copy{
  text-align: center;
  margin-top: 32px;
  font-size: 13px;
  opacity: 0.9;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px){
  .footer-grid{
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .footer-brand{
    justify-content: flex-start;
  }
}

@media (max-width: 480px){
  .footer-grid{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-brand{
    justify-content: center;
  }
}
.footer-logo {
  height: 44px
}

@media(max-width:900px){
  .hero-grid{grid-template-columns:1fr}
  .features-grid{grid-template-columns:1fr}
  .roles-grid{grid-template-columns:1fr 1fr}
  .testi-grid{grid-template-columns:1fr}
}
